* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.clearfix {
    overflow: auto;
}

header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 30px;
    padding: 25px;
    height: 40px;
}

h1 {
    background-color: #4aaaa5;
    width: 190px;
    height: 65px;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    line-height: 28px;
}

nav {
    float: right;
    line-height: 1;
}

nav > a {
    color: #777777;
    text-decoration: none;
    padding: 0px 10px;
    border-right: 1px solid #bbb;
    float: right;
}

nav > a:first-child {
    border-right: none;
}

.about-me {
    width: 960px;
    border: 1px solid #bbb;
    border-radius: 5px;
    border-bottom: 1px solid #dddddd;
    padding: 20px;
    height: 375px;
    color: #777777;
    margin: 0 auto;

}

.profile-picture {
    float: left;
}

.profile-paragraph {
    overflow: auto;
}

h1 {
    color: #4aaaa5;
}


.box {
    height: 500px;
}

#images{
    text-align:center;
    margin:50px auto; 
}

footer {
    background-color: #666666;
    height: 50px;
    width: 100%;
    border-top: 4px solid #4aaaa5;
    text-align: center;
    color: white;
    position: fixed;
    margin-top: 89px;
}
