* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: auto;
}

.clearfix {
    overflow: auto;
}

header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    border-bottom: 4px solid #cccccc;
    margin-bottom: 45px;
    margin: 0px auto;
    padding: 25px;
    height: 100px;
    width: 100%
    position: fixed;
}

.container {
    background-color: #4aaaa5;
    width: 300px;
    height: 72px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    line-height: 75px;
    
    
    
}



nav {
    float: right;
    line-height: 1;
    padding: 30px;
}

nav > a {
    color: #777777;
    text-decoration: none;
    padding: 0px 10px;
    border-right: 1px solid #bbb;
    float: right;
    line-height: 15px;
}

nav > a:first-child {
    border-right: none;
}

.about-me {
    background-color: #ffffff;
    width: 960px;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 20px;
    height: 450px;
    color: #777777;
    margin: 0 auto;
    margin-top: 30px;

}

.profile-picture {
    float: left;
    border: 15px solid #ffffff;
}

h1 {
    color: white;
    font-size: 30px;
    text-align: center;
}

h2 {
    color: #4aaaa5;
    font-size: 30px;
}


.box {
    height: 500px;
}

#images{
    text-align:center;
    margin:50px auto; 
}

.form {
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
}

.contact {
   background-color: #ffffff;
   width: 960px;
}

footer {
    background-color: #666666;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 70px;
    width: 100%;
    border-top: 4px solid #4aaaa5;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 450px;
}
